*{
    box-sizing: border-box;
 }
 @font-face {
    font-family: Inconsolata;
    src: url('https://fonts.googleapis.com/css?family=Inconsolata');
 }
 body{
    margin: 0;
    background-color: #24273a;
 }
 
 .header{
    padding: 20px;
    text-align: center;
    background: #181926;
    color: white;
    font-size: 16px;
 }
 
 .content {
    padding: 25px;
    background: #24273a;
    color: white;
    font-size: 16px;
    text-align: center;
    height: 100%;
 }
 
 .navbar {
   overflow: hidden;
   background-color: #363a4f;
 }
 
 .navbar a {
   float: left;
   font-size: 16px;
   color: white;
   text-align: center;
   padding: 14px 16px;
   font-size: 18px;
   text-decoration: none;
 }
 
 .dropdown {
   float: left;
   overflow: hidden;
 }
 
 .dropdown .dropbtn {
   font-size: 16px;  
   border: none;
   outline: none;
   color: white;
   padding: 14px 16px;
   background-color: inherit;
   font-family: inherit;
   margin: 0;
   cursor: pointer;
 }
 
 .navbar a:hover, .dropdown:hover .dropbtn {
    background: #6e738d;
    color: #24273a;
 }
 
 .dropdown-content {
   display: none;
   position: absolute;
   background-color: #181926;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
 }
 
 .dropdown-content a {
   float: none;
   color: white;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
   text-align: left;
 }
 
 .dropdown-content a:hover {
    background: #6e738d;
    color: #24273a;
 }
 
 .dropdown:hover .dropdown-content {
   display: block;
 }

 .navbar .login-container {
    float: right;
    
  }
  
  .navbar input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    width:120px;
  }
  
  .navbar .login-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background-color: #555;
    color: white;
    font-size: 17px;
    border: none;
    cursor:pointer;
  }
  
  .navbar .login-container button:hover {
    background-color: green;
  }
  
  @media screen and (max-width: 600px) {
    .navbar .login-container {
      float: right;
    }
    .navbar a, .navbar input[type=text], .navbar .login-container button {
      float: right;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .navbar input[type=text] {
      border: 1px solid #ccc;  
    }
  }